<nav class="navbar navbar-default" ng-controller="PrivilegeCtrl as privilegeCheck">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" ><img src="images/logo.png" height="75px" alt="" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href=""><b>Magic Singles </b><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/setSelection/English"><b>English</b></a></li>
            <li><a href="#/setSelection/Russian"><b>Russian</b></a></li>
            <li><a href="#/setSelection/Japanese"><b>Japanese</b></a></li>
            <li><a href="#/setSelection/Korean"><b>Korean</b></a></li>
            <li><a href="#/setSelection/Spanish"><b>Spanish</b></a></li>
            <li><a href="#/setSelection/German"><b>German</b></a></li>
            <li><a href="#/setSelection/Chinese"><b>Chinese</b></a></li>
            <li><a href="#/setSelection/Portuguese"><b>Portuguese</b></a></li>
            <li><a href="#/setSelection/French"><b>French</b></a></li>
            <li><a href="#/setSelection/Italian"><b>Italian</b></a></li>
          </ul>
        </li>
        <li class="dropdown" ng-if="privilegeCheck.isUserAuthorized('ADMIN') || privilegeCheck.isUserAuthorized('EMPLOYEE')">
            <a class="dropdown-toggle" data-toggle="dropdown" href=""><b>Inventory Management </b><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/bulkAdd"><b>Add Inventory</b></a></li>
            <li><a href="#/adjustInventory"><b>Adjust Inventory</b></a></li>
          </ul>
        </li>
        <li class="dropdown" ng-if="privilegeCheck.isUserAuthorized('ADMIN')">
            <a class="dropdown-toggle" data-toggle="dropdown" href=""><b>Import </b><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/import/allSets">All Sets</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-if="privilegeCheck.isUserAuthorized('ADMIN')">
            <a class="dropdown-toggle" data-toggle="dropdown" href=""><b>Admin </b><span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#/users/viewAll">User Management</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/checkout"><li><ngcart-summary></ngcart-summary></a></li>
        <li ng-if="privilegeCheck.isLoginRequired()"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ng-if="!privilegeCheck.isLoginRequired()"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
