<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.achersoft.order.persistence.OrderMapper">
    <insert id="createOrder">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            SELECT UUID()
        </selectKey>
        INSERT INTO orders (id,
                            customer_name,
                            created_at) 
                    VALUES (#{id},
                            #{customerName},
                            #{createdAt})
    </insert>
    
    <update id="updateOrder">
        UPDATE orders SET
            fulfilled_by = #{fulfilledBy},
            discount = #{discount},
            total = #{total}
        WHERE id = #{id}
    </update>
    
    <update id="addItemToInventory">
        UPDATE card_inventory SET
            <if test="condition == 'NM'">
               NM = NM + #{qty}
            </if>        
            <if test="condition == 'SP'">
               SP = SP + #{qty}
            </if>
            <if test="condition == 'MP'">
               MP = MP + #{qty}
            </if>        
            <if test="condition == 'HP'">
               HP = HP + #{qty}
            </if>
            <if test="condition == 'FNM'">
               FNM = FNM + #{qty}
            </if>        
            <if test="condition == 'FSP'">
               FSP = FSP + #{qty}
            </if>
            <if test="condition == 'FMP'">
               FMP = FMP + #{qty}
            </if>        
            <if test="condition == 'FHP'">
               FHP = FHP + #{qty}
            </if>
         WHERE id = #{id}
    </update>
    
    <update id="removeItemFromInventory">
        UPDATE card_inventory SET
            <if test="condition == 'NM'">
               NM = NM - #{qty}
            </if>        
            <if test="condition == 'SP'">
               SP = SP - #{qty}
            </if>
            <if test="condition == 'MP'">
               MP = MP - #{qty}
            </if>        
            <if test="condition == 'HP'">
               HP = HP - #{qty}
            </if>
            <if test="condition == 'FNM'">
               FNM = FNM - #{qty}
            </if>        
            <if test="condition == 'FSP'">
               FSP = FSP - #{qty}
            </if>
            <if test="condition == 'FMP'">
               FMP = FMP - #{qty}
            </if>        
            <if test="condition == 'FHP'">
               FHP = FHP - #{qty}
            </if>
         WHERE id = #{id}
    </update>

    <select id="getItemInventory" resultType="com.achersoft.order.dao.OrderItemInventory">
          SELECT 
            <if test="condition == 'NM'">
               NM 'qty',
               nm_price 'price'
            </if>        
            <if test="condition == 'SP'">
               SP 'qty',
               sp_price 'price'
            </if>
            <if test="condition == 'MP'">
               MP 'qty',
               mp_price 'price'
            </if>        
            <if test="condition == 'HP'">
               HP 'qty',
               hp_price 'price'
            </if>
            <if test="condition == 'FNM'">
               FNM 'qty',
               fnm_price 'price'
            </if>        
            <if test="condition == 'FSP'">
               FSP 'qty',
               fsp_price 'price'
            </if>
            <if test="condition == 'FMP'">
               FMP 'qty',
               fmp_price 'price'
            </if>        
            <if test="condition == 'FHP'">
               FHP 'qty',
               fhp_price 'price'
            </if>
            FROM card_inventory 
           WHERE id = #{id}
    </select>
    
    <insert id="addOrderItem">
        INSERT INTO order_items (id,
                                 order_id,
                                 con,
                                 qty,
                                 price) 
                         VALUES (#{orderItem.id},
                                 #{orderId},
                                 #{orderItem.condition},
                                 #{orderItem.qty},
                                 #{orderItem.price})
    </insert>
    
    <delete id="removeOrderItems">
        DELETE FROM order_items WHERE order_id = #{orderId}
    </delete>
    
    <select id="getUnfulfilledOrdersCount" resultType="java.lang.Integer">
        SELECT count(*)
          FROM orders
         WHERE fulfilled_by is null
    </select>
    
    <select id="getUnfulfilledOrders" resultType="com.achersoft.order.dao.Order">
        SELECT id 'id',
               customer_name 'customerName',
               fulfilled_by 'fulfilledBy',
               created_at 'createdAt',
               discount 'discount',
               total 'total'
          FROM orders
         WHERE fulfilled_by is null
      ORDER BY created_at
         LIMIT #{startLimit}, #{offsetLimit}
    </select>
    
    <select id="getCompletedOrdersCount" resultType="java.lang.Integer">
        SELECT count(*)
          FROM orders
         WHERE fulfilled_by is not null
    </select>
    
    <select id="getCompletedOrders" resultType="com.achersoft.order.dao.Order">
        SELECT id 'id',
               customer_name 'customerName',
               fulfilled_by 'fulfilledBy',
               created_at 'createdAt',
               discount 'discount',
               total 'total'
          FROM orders
         WHERE fulfilled_by is not null
      ORDER BY created_at DESC 
         LIMIT #{startLimit}, #{offsetLimit}
    </select>
    
    <select id="getOrder" resultType="com.achersoft.order.dao.Order">
        SELECT id 'id',
               customer_name 'customerName',
               fulfilled_by 'fulfilledBy',
               created_at 'createdAt',
               discount 'discount',
               total 'total'
          FROM orders
         WHERE id = #{id}
    </select>

    <select id="getOrderItems" resultType="com.achersoft.order.dao.OrderItem">
        SELECT oi.id 'id',
               c.name 'name',
               s.name 'set',
               c.language 'language',
               oi.con 'condition',
               c.color 'color',
               oi.qty 'qty',
               oi.price 'price',
               c.is_tcg 'tcg'
          FROM order_items oi
    LEFT OUTER JOIN mtg_card c ON c.id = oi.id     
    LEFT OUTER JOIN mtg_set s ON c.set_id = s.id      
         WHERE oi.order_id = #{id} 
      ORDER BY s.name, c.name
    </select>
    
    <delete id="removeOrder">
        DELETE FROM orders WHERE id = #{id}
    </delete>
</mapper>