<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.achersoft.mtg.card.persistence.CardMapper">
    <sql id="cardSelection">
        SELECT c.id 'id',
               c.name 'name',
               c.set_id 'setId',
               s.name 'set',
               c.language 'language',
               c.mana_cost 'manaCost',
               c.type 'type',
               c.sub_type 'subType',
               c.rarity 'rarity',
               c.card_text 'text',
               c.oracle_text 'oracle',
               c.artist 'artist',
               c.power 'power',
               c.toughness 'toughness',
               c.number 'number',
               c.multiverse_id 'multiverseid',
               c.split_sequence 'splitSequence',
               c.split_id 'splitId',
               i.NM 'NM',
               i.nm_price 'nmp',
               i.SP 'SP',
               i.sp_price 'spp',
               i.MP 'MP',
               i.mp_price 'mpp',
               i.HP 'HP',
               i.hp_price 'hpp',
               i.FNM 'FNM',
               i.fnm_price 'fnmp',
               i.FSP 'FSP',
               i.fsp_price 'fspp',
               i.FMP 'FMP',
               i.fmp_price 'fmpp',
               i.FHP 'FHP',
               i.fhp_price 'fhpp'
          FROM mtg_card c,
               mtg_set s,
               card_inventory i
    </sql>

    <select id="getCard" resultType="com.achersoft.mtg.card.dao.Card">
        <include refid="cardSelection"/>
         WHERE c.id = #{id}
           AND s.id = c.set_id
           AND c.id = i.id
    </select>
    
    <select id="getAdditionalPrintings" resultType="com.achersoft.mtg.card.dao.Card">
        <include refid="cardSelection"/>
         WHERE c.id != #{id}
           AND c.name = #{name}
           AND s.id = c.set_id
           AND c.id = i.id
    </select>
    
    <select id="getSets" resultType="com.achersoft.mtg.card.dao.Set">
          SELECT distinct s.id,
                 s.name,
                 c.language
            FROM mtg_set s
 LEFT OUTER JOIN mtg_card c ON c.set_id = s.id 
           WHERE c.language = #{language}     
    </select>
    
    <select id="getSet" resultType="com.achersoft.mtg.card.dao.Card">
        <include refid="cardSelection"/>
         WHERE s.id = #{id}
           AND s.id = c.set_id
           AND c.id = i.id
           AND c.language = #{language}  
           AND c.has_children = 0
      ORDER BY c.name
    </select>
    
    <select id="search" resultType="com.achersoft.mtg.card.dao.Card">
        <include refid="cardSelection"/>
         WHERE s.id = c.set_id
           AND c.id = i.id
           AND c.has_children = 0
        <if test="id != null">
           AND c.id = #{id}
        </if>
        <if test="name != null">
           AND c.name = #{name}
      ORDER BY s.name, c.language
        </if>
        <if test="like != null">
           AND c.name like #{like}
      GROUP BY c.name
        </if>
        <if test="limit">
           LIMIT 10
        </if>
    </select>
    
    <update id="addInventory">
        UPDATE card_inventory SET 
                NM = NM + #{NM},
                SP = SP + #{SP},
                MP = MP + #{MP},
                HP = HP + #{HP},
                FNM = FNM + #{FNM},
                FSP = FSP + #{FSP},
                FMP = FMP + #{FMP},
                FHP = FHP + #{FHP}
         WHERE id = #{id}
    </update>
    
    <update id="adjustInventory">
        UPDATE card_inventory SET 
                NM = #{NM},
                SP = #{SP},
                MP = #{MP},
                HP = #{HP},
                FNM = #{FNM},
                FSP = #{FSP},
                FMP = #{FMP},
                FHP = #{FHP}
         WHERE id = #{id}
    </update>
</mapper>