<div>
    <user-detail-template></user-detail-template>
   
    <div class="text-right">
        <button ng-show="userContext.editMode" class="btn btn-primary" ng-click="save(userForm.$valid)">
            <span class="fa fa-save" ></span> Save 
        </button>
        <button ng-show="!userContext.editMode" class="btn btn-primary" ng-click="edit()">
            <span class="fa fa-edit" ></span> Edit 
        </button>
        <button  ng-show="userContext.editMode" class="btn btn-default" ui-sref="admin.user.list">
            <span class="fa fa-ban"></span> Cancel
        </button>
    </div>
</div>


