<div>
    <authenticator-detail-template></authenticator-detail-template>
   
    <p></p>
    
    <div class="text-right">
        <button ng-show="authenticatorContext.editMode" class="btn btn-primary" ng-click="save(authenticatorForm.$valid)">
            <span class="fa fa-save" ></span> Save 
        </button>
        <button ng-show="!authenticatorContext.editMode" class="btn btn-primary" ng-click="edit()">
            <span class="fa fa-edit" ></span> Edit 
        </button>
        <button  ng-show="authenticatorContext.editMode" class="btn btn-default" ui-sref="admin.authenticator.list">
            <span class="fa fa-ban"></span> Cancel
        </button>
    </div>
    
</div>


