<form name="authenticatorForm" novalidate>
    <div class="row esi-row-offset-md">
        <div class="col-md-4" ng-class="{'has-error':authenticatorForm.authName.$invalid && authenticatorForm.authName.$dirty}">
            <label uib-popover="Authenticator name is required" popover-trigger="mouseenter" for="authName">Name<span class="esi-alert fa fa-flag"></span></label>
            <input ng-model="authenticatorContext.authenticator.name" type="text" class="form-control" id="authName" name="authName" placeholder="Authenticator Name" required ng-maxlength="255" ng-readonly="!authenticatorContext.editMode"/>
            <span class="help-block has-error" ng-show="authenticatorForm.authName.$error && authenticatorForm.authName.$dirty"
                ng-messages="authenticatorForm.authName.$error">
                <span ng-message="required">Authenticator name is required</span>
                <span ng-message="maxlength">Authenticator name must be less than 255 characters</span>
            </span>
        </div>
        
        <div class="col-md-4">
            <label>Type</label>
            <input ng-if="authenticatorContext.authenticator.type=='LDAP'" value="LDAP - Remote" type="text" class="form-control" ng-readonly="true"/>
            <input ng-if="authenticatorContext.authenticator.type=='LOCAL'" value="Local" type="text" class="form-control" ng-readonly="true"/>
        </div>
        
        <div class="col-md-4">
            <label>Is Active? </label>
            <p>
            <esi-on-off-switch switch-inline="false" ng-model="authenticatorContext.authenticator.active" switch-disabled="{{!authenticatorContext.editMode || authenticatorContext.authenticator.type=='LOCAL'}}"></esi-on-off-switch>
            </p>
        </div>  
    </div>
    
    <div class="row esi-row-offset-md">
        <div class="col-md-12">
            <label>Description</label>
            <textarea class="form-control" rows="3" ng-model="authenticatorContext.authenticator.description" id="authDescription" ng-readonly="!authenticatorContext.editMode"></textarea>
        </div>
    </div>
    
    <div ng-if="authenticatorContext.authenticator.type=='LDAP'" class="row esi-row-offset-md">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    
    <div ng-if="authenticatorContext.authenticator.type=='LDAP'" class="row esi-row-offset-md">
        <div class="col-md-12">
            <h4>
                <span class="fa fa-database"></span>
                Connection Properties
            </h4>
        </div>
    </div>
    
    <div ng-if="authenticatorContext.authenticator.type=='LDAP'" class="row esi-row-offset-md">
        <div class="col-md-4" ng-class="{'has-error':authenticatorForm.serverAddress.$invalid && authenticatorForm.serverAddress.$dirty}">
            <label uib-popover="Server address is required" popover-trigger="mouseenter" for="serverAddress">Server Address<span class="esi-alert fa fa-flag"></span></label>
            <input ng-model="authenticatorContext.authenticator.server" id="serverAddress" name="serverAddress" type="text" class="form-control" placeholder="Server" required ng-maxlength="255" ng-readonly="!authenticatorContext.editMode"/>
            <span class="help-block has-error" ng-show="authenticatorForm.serverAddress.$error && authenticatorForm.serverAddress.$dirty" ng-messages="authenticatorForm.serverAddress.$error">
                <span ng-message="required">Server address is required</span>
                <span ng-message="maxlength">Server address must be less than 255 characters</span>
            </span>
        </div>
        
        <div class="col-md-4" ng-class="{'has-error':authenticatorForm.port.$invalid && authenticatorForm.port.$dirty}">
            <label uib-popover="Port is required" popover-trigger="mouseenter" for="port">Port<span class="esi-alert fa fa-flag"></span></label>
            <input ng-model="authenticatorContext.authenticator.port" id="port" name="port" type="text" class="form-control" placeholder="Port" required ng-maxlength="255" ng-readonly="!authenticatorContext.editMode"/>
            <span class="help-block has-error" ng-show="authenticatorForm.port.$error && authenticatorForm.port.$dirty" ng-messages="authenticatorForm.port.$error">
                <span ng-message="required">Port is required</span>
            </span>
        </div>
        
        <div class="col-md-4">
            <label>Is Secure? </label>
            <p>
            <esi-on-off-switch switch-inline="false" ng-model="authenticatorContext.authenticator.secure" switch-disabled="{{!authenticatorContext.editMode}}"></esi-on-off-switch>
            </p>
        </div>  
    </div>
    
    <div ng-if="authenticatorContext.authenticator.type=='LDAP'" class="row esi-row-offset-md">
        <div class="col-md-6" ng-class="{'has-error':authenticatorForm.loginDomain.$invalid && authenticatorForm.loginDomain.$dirty}">
            <label uib-popover="Login domain is required" popover-trigger="mouseenter" for="loginDomain">Login Domain<span class="esi-alert fa fa-flag"></span></label>
            <input ng-model="authenticatorContext.authenticator.loginDomain" id="loginDomain" name="loginDomain" type="text" class="form-control" placeholder="Login Domain" required ng-maxlength="255" ng-readonly="!authenticatorContext.editMode"/>
            <span class="help-block has-error" ng-show="authenticatorForm.loginDomain.$error && authenticatorForm.loginDomain.$dirty" ng-messages="authenticatorForm.loginDomain.$error">
                <span ng-message="required">Login domain is required</span>
                <span ng-message="maxlength">Login domain must be less than 255 characters</span>
            </span>
        </div>
        
        <div class="col-md-6" ng-class="{'has-error':authenticatorForm.baseDN.$invalid && authenticatorForm.baseDN.$dirty}">
            <label uib-popover="Base DN is required" popover-trigger="mouseenter" for="baseDN">Base DN<span class="esi-alert fa fa-flag"></span></label>
            <input ng-model="authenticatorContext.authenticator.baseDN" id="baseDN" name="baseDN" type="text" class="form-control" placeholder="Base DN" required ng-maxlength="255" ng-readonly="!authenticatorContext.editMode"/>
            <span class="help-block has-error" ng-show="authenticatorForm.baseDN.$error && authenticatorForm.baseDN.$dirty" ng-messages="authenticatorForm.baseDN.$error">
                <span ng-message="required">Base DN is required</span>
                <span ng-message="maxlength">Base DN must be less than 255 characters</span>
            </span>
        </div>
    </div>
    
    <div ng-if="authenticatorContext.authenticator.type=='LDAP'" class="row esi-row-offset-md">
        <div class="col-md-6">
            <label>Username</label>
            <input ng-model="authenticatorContext.authenticator.username" id="username" name="username" type="text" class="form-control" placeholder="Username" ng-maxlength="255" ng-readonly="!authenticatorContext.editMode"/>
        </div>
        
        <div class="col-md-6">
            <label>Password</label>
            <input ng-model="authenticatorContext.authenticator.password" id="password" name="password" type="text" class="form-control" placeholder="Password" ng-maxlength="255" ng-readonly="!authenticatorContext.editMode"/>
        </div>
    </div>
</form>

