<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.achersoft.mtg.importer.persistence.ImporterMapper">
    <insert id="addSet">
        INSERT INTO mtg_set (id, 
                             name, 
                             code, 
                             block) 
                     VALUES (#{id},
                             #{name},
                        <if test="gathererCode != null">
                             #{gathererCode},
                        </if>
                        <if test="gathererCode == null">
                             #{code},
                        </if>
                             #{block})
     ON DUPLICATE KEY UPDATE id=id
    </insert>
    
    <insert id="addCard">
        INSERT into mtg_card (id, 
                              name, 
                              set_id, 
                              mana_cost, 
                              type,
                              sub_type,
                              rarity,
                              card_text, 
                              oracle_text, 
                              artist, 
                              power, 
                              toughness, 
                              number, 
                              language,
                              multiverse_id, 
                              split_sequence,
                              split_id,
                              has_children)
                      VALUES (#{id},
                              #{name},
                              #{setId},
                              #{manaCost},
                              #{type},
                              #{type},
                              #{rarity},
                              #{originalText},
                              #{text}, 
                              #{artist},
                              #{power},
                              #{toughness},
                              #{number},
                              #{language},
                              #{multiverseid},
                              #{splitSequence},
                              #{splitId},
                              #{hasChildren})
      ON DUPLICATE KEY UPDATE id=id
    </insert>
    
    <insert id="addCardToInventory">
        INSERT INTO card_inventory (id,
                                    NM,
                                    nm_price,
                                    SP,
                                    sp_price,
                                    MP,
                                    mp_price,
                                    HP,
                                    hp_price,
                                    FNM,
                                    fnm_price,
                                    FSP,
                                    fsp_price,
                                    FMP,
                                    fmp_price,
                                    FHP,
                                    fhp_price)
                            VALUES (#{id},
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    0)
     ON DUPLICATE KEY UPDATE id=id
    </insert>
</mapper>