<div class="row">
    <div >
        <table ng-table="tableParams" class="table table-striped table-hover table-condensed" >
            <tr ng-repeat-start="card in $data" class="form-inline" >
                <td data-title="'Name'" style="width:15%;">
                    <a ui-sref="viewCandidate({restPath : candidate.links.get, name : candidate.lastName})">{{card.name}}</a>
                </td>
                <td data-title="'Set'" style="width:10%;">
                    {{card.set}}
                </td>
                <td data-title="'Mana Cost'" style="width:10%;">
                    <img src="http://localhost:8080/titan/images/{{mana}}.png" border="0" width="17" height="17" alt="1" ng-repeat="mana in card.manaCost">
                </td>
                <td data-title="'Type'" style="width:15%;" title="{{deg}}">
                    {{card.type}}
                </td>
                <td data-title="'P/T'" style="width:5%;">
                    <div ng-show="{{card.power}}">
                        {{card.power}}/{{card.toughness}}
                    </div>                  
                </td>
                <td data-title="'Rarity'" style="width:10%;">
                    {{card.rarity}}
                </td>
                <td data-title="'Condition'" style="width:5%;" >
                    {{candidate.lastAction | date: 'MM/dd/yyyy hh:mm:ss a'}}
                </td>
                <td data-title="'Stock'" style="width:5%;" >
                    {{candidate.lastAction | date: 'MM/dd/yyyy hh:mm:ss a'}}
                </td>
                <td data-title="'Price'" style="width:15%;" >
                    {{candidate.lastAction | date: 'MM/dd/yyyy hh:mm:ss a'}}
                </td>
            </tr>
            <tr ng-if="candidate.expand" class="slide-down" style="width:5%;" ng-repeat-end="">
                <td colspan="1" ></td>
                <td colspan="8" >
                    <esi-candidate-content datasource="candidate"></esi-candidate-content>
                </td>
            </tr>
        </table>
    </div>
</div>


