<form name="userForm" novalidate>
    {{userContext}}
    <div class="row esi-row-offset-md">
        <div class="col-md-4" ng-class="{'has-error':userForm.userName.$invalid && userForm.userName.$dirty}">
            <label uib-popover="User Name is required" popover-trigger="mouseenter" for="userName">User Name <span class="esi-alert fa fa-flag"></span></label>
            <input ng-model="userContext.user.username" type="text" class="form-control" id="userName" name="userName" placeholder="User Name" required ng-maxlength="255" ng-readonly="!userContext.editMode"/>
            <span class="help-block has-error" ng-show="userForm.userName.$error && userForm.userName.$dirty"
                ng-messages="userForm.userName.$error">
                <span ng-message="required">User name is required</span>
                <span ng-message="maxlength">User name must be less than 255 characters</span>
            </span>
        </div>
        
        <div class="col-md-4" ng-class="{'has-error':userForm.firstName.$invalid && userForm.firstName.$dirty}">
            <label uib-popover="First Name is required" popover-trigger="mouseenter" for="firstName">First Name <span class="esi-alert fa fa-flag"></span></label>
            <input ng-model="userContext.user.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required ng-maxlength="255" ng-readonly="!userContext.editMode"/>
            <span class="help-block has-error" ng-show="userForm.firstName.$error && userForm.firstName.$dirty"
                ng-messages="userForm.firstName.$error">
                <span ng-message="required">First name is required</span>
                <span ng-message="maxlength">First name must be less than 255 characters</span>
            </span>
        </div>
        
        <div class="col-md-4" ng-class="{'has-error':userForm.lastName.$invalid && userForm.lastName.$dirty}">
            <label uib-popover="Last Name is required" popover-trigger="mouseenter" for="lastName">Last Name <span class="esi-alert fa fa-flag"></span></label>
            <input ng-model="userContext.user.lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required ng-maxlength="255" ng-readonly="!userContext.editMode"/>
            <span class="help-block has-error" ng-show="userForm.lastName.$error && userForm.lastName.$dirty"
                ng-messages="userForm.lastName.$error">
                <span ng-message="required">Last name is required</span>
                <span ng-message="maxlength">Last name must be less than 255 characters</span>
            </span>
        </div>
    </div>
    
    <div class="row esi-row-offset-md">
        <div class="col-md-4">
            <label for="userPassword">Password</label>
            <input ng-model="userContext.user.password" type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password" ng-maxlength="255" ng-readonly="!userContext.editMode"/>
        </div> 
        
        <div class="col-md-4">
            <label>User is Locked? </label>
            <esi-on-off-switch switch-inline="true" ng-model="userContext.user.locked" switch-disabled="{{!userContext.editMode}}"></esi-on-off-switch>
        </div> 
        
        <div class="col-md-4" >
            <label>Last Accessed</label>
            <input value="{{userContext.user.lastAccessed | date: 'MM/dd/yyyy hh:mm:ss a'}}" type="text" class="form-control" ng-readonly="true"/>
        </div>
    </div>
    
    <div class="row esi-row-offset-md">
        <div class="col-md-12" >
            <privilege-selection 
                model="userContext.user.privileges"
                edit-mode="userContext.editMode"
                select-ng-options="privileges"
                >
            </privilege-selection>
        </div>
    </div>
    
    <p></p>
</form>



