<div class="col-md-12">
    <!-- "Table" Column Headers -->
    <div class="text-right">
        <button class="btn btn-primary" ui-sref="settings.certificaitons.create">
            <span class="fa fa-plus-circle"></span> Add New Certification (TODO)
        </button>
    </div>
    <div class="row esi-row-offset-md" >
        <div class="col-md-6" style="font-weight:bold;">Name</div>
        <div class="col-md-4" style="font-weight:bold;">Code</div>
        <div class="col-md-2" style="font-weight:bold;">Edit/Delete</div>
    </div>
    <div class="row">
        <hr style="background-color:grey;border-color:grey;color:grey;margin-top:2px;margin-bottom:2px;padding-left:0px;padding-right:0px;">
    </div>
    <!-- "Table" contents -->
    <!-- standard row contents -->
    <div class="row" ng-repeat-start="cert in certificationsContext.certifications" ng-class-odd="'esi-row-alt'" style="padding-top:6px;padding-bottom:6px;">
        <div class="col-md-6">
             <a ui-sref="settings.certifications.view({restPath : cert.links.get, cert_name : cert.cert_name})"> {{cert.cert_name}} </a>
        </div>
        <div class="col-md-4">
            {{cert.cert_code}}
        </div>
        <div class="col-md-2">
            <div ng-show="!certificationsContext.editMode">
                <a ng-click="edit()">  
                    <span class="fa fa-edit" style="font-size:14px;"></span>
                </a>
                <a ng-click="delete(cert.id, cert.cert_name)">
                    <span class="fa fa-trash-o" style="font-size:14px;"></span>
                </a>
            </div>
            <div ng-show="certificationsContext.editMode">
                <a>
                    <button class="btn btn-primary" role="button">Upload</button>
                </a>
                <a ng-click="edit()">
                    <button class="btn btn-primary" role="button">Cancel</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat-end>
        <div class="col-md-12" style="padding-left:0;padding-right:0;">
            <hr style="background-color:grey;border-color:grey;color:grey;margin-top:0px;margin-bottom:0px;padding-left:0px;padding-right:0px;">
        </div>
    </div>
</div>
                
                

